.panel {
    background: #1e242e;
    padding: 2.5rem;
    border-radius: 1.25rem;

    width: 300px;
    height: 300px;

    text-align: left;
}

.thankYouPanel {
    background: #1e242e;
    padding: 2.5rem;
    border-radius: 1.25rem;

    width: 300px;
    height: 300px;

    text-align: center;
}

.selected {
    color: #fb7b19;
    background-color: #272e3f;

    display: inline-block;

    font-size: 14px;
    padding: .25rem;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2rem;
}

.star {
    background-color: #272e3f;
    border-radius: 100%;
    padding: 0.65rem;
}

.title {
    font-size: 2rem;
    font-weight: 630;

    margin-top: .65rem;
    margin-bottom: .25rem;
}

.description{
    color: #8e949e ;
    font-size: .9rem;

    line-height: 1.75rem;
}

.group {
    display: flex;
    justify-content: space-between;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}

.rating {
    background-color: #282e38;
    border-radius: 100%;
    padding: 1rem;

    line-height: 0px;
    width: 50px;
    height: 50px;
}

.rating:hover{
    background-color: #7d8796;
}

.rating:focus{
    background-color: #fb7b19;
}

.submit{
    color: white;
    background-color: #fb7b19; 

    width: 100%;


    border-radius: 2rem;
    padding: .5rem;
}

.submit:hover{
    background-color: white;
    color: #fb7b19;
}

.submit:disabled{
    background-color: gray;
    color: darkgray;
    cursor: not-allowed;
}
